<div class="admin-page">
    <div class="header-admin-maganger">
        <img class="administartor-header-icon" src="https://static.thenounproject.com/png/1880548-200.png" alt="">
        <span class="administrator-text">Quản Trị Viên</span>
    </div>
    
    <div class="content-admin-manager-wrap">
        <div class="header-conainer-admin">
            <div class="admin-page-wrap-item">
                <a href="#" class="document-for-type-admin-select manage-good-feature">
                    <i class="icon-item-admin-manager fa-solid fa-bars"></i>
                    <div class="overal-admin-manager">Danh Mục</div>
                </a>
                <a href="/account/admin/page" class="manage-good-feature">
                    <i class="icon-item-admin-manager fa-solid fa-border-all"></i>
                    <div class=" overal-admin-manager">Tổng Quan</div>
                </a>
                <a href="/account/admin/manage/members" class="manage-good-feature">
                    <i class="icon-item-admin-manager fa-solid fa-users"></i>
                    <div class="members-admin-manager">Quản Lý Thành Viên</div>
                    </a>
                <a href="/account/admin/manage/pets" class="manage-good-feature orange-active-admin-page ">
                    <i class="icon-item-admin-manager fa-solid fa-dog"></i>
                    <div class="pets-admin-manager">Quản Lý Thú Cưng</div>
                </a>
                <a href="/account/admin/manage/discount" class="manage-good-feature">
                    <i class="icon-item-admin-manager fa-solid fa-bullhorn"></i>
                    <div class="promotion-admin-manager">Quản Lý Khuyến Mãi</div>
                </a>
                <a href="#" class="manage-good-feature">
                    <i class="icon-item-admin-manager fa-solid fa-newspaper"></i>
                    <div class="news-admin-manager"> Quản Lý Tin Tức</div>
                </a>
            </div>
            <div class="drop-dow-icon-login">
                <div class="login-wrap-header-login-admin">
                    <div class="overal-admin-content-page">
                        <span class="overall-text-content-admin-page">Danh Sách Thú Cưng</span>
                            {{!-- <h2 class="overal-admin-text-content-page">Tổng Quan</h2> --}}
                    </div>
                    <div class="overal-admin-content-icon">
                        <i class="header-bar-side-icon-admin fa-regular fa-envelope"></i>
                        <i class="header-bar-side-icon-admin fa-regular fa-bell"></i>
                        <img class="avatar-presentation-admin-image" src="https://i.scdn.co/image/ab6761610000e5ebce202eea14763b8b7696936e" alt="">
                        <span class="name-of-admin-text">Quang Đại</span>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                </div>
                <div class="margin-all-content-tag-select-admin-command">
                    <div class="navbar-header-content-tags-selection">
                        <div class="provide-member-card-for-user">
                            <div class="edit-text-content-for-member-card members-have-provided-member-card">Đã Bán (300)</div>
                            <div class="edit-text-content-for-member-card members-have-not-provided-member-card-yet">Còn Hàng (150)</div>
                        </div>
                        <div class="more-infor-provide-card-user">
                            <div class="edit-text-content-for-member-card conduct-change-for-user">
                                <i class="fa-solid fa-arrow-right-arrow-left"></i>
                                Chuyển Giao Thú Cưng
                            </div>
                            <div class="edit-text-content-for-member-card update-first-term-mark">
                                <i class="fa-solid fa-right-from-bracket"></i>
                                Nhập Thú Cưng
                            </div>
                        </div>
                    </div>
                    <div class="action-for-tag-member-manage-admin">
                        <div class="action-to-card-content-for-admin">
                            <i class="icon-describe-action-admin-conduct fa-solid fa-calendar-plus"></i>
                            Thêm Thú Cưng
                        </div>
                        <div class="action-to-card-content-for-admin">
                            <i class="icon-describe-action-admin-conduct fa-solid fa-plus"></i>
                            Sửa Thú Cưng
                            </div>
                        <div class="action-to-card-content-for-admin">
                            <i class="icon-describe-action-admin-conduct fa-solid fa-minus"></i>
                            Xóa Thú Cưng
                        </div>
                        <div class="action-to-card-content-for-admin">
                            <select name="" id="">
                                <option value="">Corgi</option>
                                <option value="">Akita</option>
                                <option value="">Huskey</option>
                            </select>
                            <button class="sort-type-of-pet-admin-page">Lọc</button>
                        </div>
                    </div>
                    <div class="members-commands-for-tag-admin-page">
                        <div class="overflow-container-contain-admin-command">
                            <div class="action-command-list-members color-action-list-menu-admin-select">Chọn</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select">STT</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select">Tên Thú Cưng</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select">Mã Thú Cưng</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select">hình ảnh</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select">Tuổi</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select">Giới Tính</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select">Giá Thành</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select">Màu Sắc</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select">Kích Thước</div>
                        </div>
                        {{#each pet}}
                        <div class="overflow-container-contain-admin-command">
                           <div class="action-command-list-members color-action-list-menu-admin-select-white"><input type="checkbox"></div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">{{sum @index 1}}</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">{{this.name}}</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">8011333055</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white"><img class="pet-image-render-in-admin-page" src="{{this.image}}" alt=""></div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">Vàng</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">22/11/2020</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">{{this.price}} vnđ</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">165.5</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">232.0</div>
                        </div>
                        {{/each}}
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div> 