<div class="mt-4">
    <h3>Đăng khóa học!</h3>
    <form method="POST" action="/courses/store">
        <div class="form-group">
            <label for="exampleInputEmail1">name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="name">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">description</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="description">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">videoID</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="videoId">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">level</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="level">
        </div>
        <button type="submit" class="btn btn-primary">Thêm khóa học</button>
    </form>
</div>