{{!-- <h1>FOOTER</h1> --}}
<div class="footer-WeddingRestaurant">
                <div class="box-footer-wedding">
                    <div class="box-footer-list">
                        <div class="box-footer-item">
                            <h1 class="footer-item-logo">LovePets</h1>
                            <span class="footer-item-slogan">Yêu thương chứa chan đong đầy</span>
                            <p class="footer-item-description">Chúng tôi mong muốn LovePets sẽ trở thành “Shop thú cưng” nơi mà mọi người có thể gửi gắm đứa con tinh thần của mình. Mang đến cho quý khách những đứa con tinh thần và trải nghiệm của chúng ở nơi đây.</p>
                        </div>
                        <div class="box-footer-item">
                            <h2 class="box-footer-item-font">DANH MỤC CHÚNG TÔI</h2>
                            <div class="box-footer-item-list-content">
                                <ul>
                                    <li>
                                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                        <b>Các dịch vụ shop</b></li>
                                    <li>
                                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                        <b>Khuyến mãi cún cảnh</b></li>
                                    <li>
                                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                        <b>Khuyễn mãi mèo cảnh</b></li>
                                </ul>
                            </div>
                        </div>
                        <div class="box-footer-item">
                            <h2 class="box-footer-item-font">LIÊN HỆ VỚI CHÚNG TÔI</h2>
                            <div class="box-footer-item-font-content">
                                    <i class="fa-solid fa-location-dot"></i>
                                    <div class="box-footer-item-font-content-text">
                                        <b>Địa chỉ:</b> 756 Lạc Long Quân – P.9 – Tân Bình – TP.HCM
                                    </div>
                            </div>
                            <span class="box-footer-item-font-content">
                                <i class="fa fa-phone"></i>
                                <div class="box-footer-item-font-content-text">
                                    <b>Hotline:</b> 070 331 3097
                                    {{!-- <br><b>Hotline phản ánh dịch vụ:</b> (028) 39 906 999 - (028) 39 906 888 --}}
                                </div>
                            </span>
                            
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    
                    <div class="box-footer-list">
                        <span class="box-footer-text">
                            <span class="box-footer-text-item">
                                © Vận hành bởi 
                            </span>
                            <b class="box-footer-text-logo">LovePets</b>
                        </span>
                        <span class="box-footer-text">
                            <span class="box-footer-text-item">
                                cung cấp bởi 
                            </span>
                            <b class="box-footer-text-logo">VSM</b>
                        </span>
                    </div>

                    <div class="box-footer-item-social-icon">
                            <a href="https://www.facebook.com/" class="footer-socials-icon-link">
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                            <a href="https://www.instagram.com/" class="footer-socials-icon-link">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                            <a href="https://www.twitter.com/" class="footer-socials-icon-link">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                            <a href="https://www.linkedin.com/" class="footer-socials-icon-link">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                    </div>
                </div>
</div>