<div class="container-tags-for-pay-page">
    <div class="icon-pay-for-payment-page">
        <i class="fa-regular fa-credit-card icon-pay-credit-users"></i>
    </div>
    <h2 class="title-for-pay-page">Thanh toán</h2>
    <p class="description-for-title-for-pay-page">Vui lòng kiểm tra thông tin khách hàng, thông tin giỏ hàng trước khi đặc hàng.</p>
</div>
<div class="container-for-all-costomer-information">
    <div class="customer-information-fill-in">
    <div class="input-for-fill-in-customer-infor">
        <h2 class="customer-infor-header-text">Thông tin khách hàng</h2>
        <label for="name">Họ tên</label><br>
        <input class="input-user-enter-for-admin" name="name" type="text"><br>
        <label for="gender">Giới tính</label><br>
        <input class="input-user-enter-for-admin" name="gender" type="text"><br>
        <label for="addres">Địa chỉ</label><br>
        <input class="input-user-enter-for-admin" name="address" type="text"><br>
        <label for="phone">Điện thoại</label><br>
        <input class="input-user-enter-for-admin" name="phone" type="text"><br>
        <label for="email">Email</label><br>
        <input class="input-user-enter-for-admin" name="email" type="text"><br>
        <label for="identified-card">CCCD</label><br>
        <input class="input-user-enter-for-admin" name="identified-card" type="text"><br>
        <h2 class="customer-infor-header-text">Hình thức thanh toán</h2>
        <div class="form-payment-for-host">
            <input name="form-payment" type="radio">
            Tiền mặt
        </div>
        <div class="form-payment-for-host">
             <input name="form-payment" type="radio">
             Chuyển khoản
        </div>
        <div class="form-payment-for-host">
            <input name="form-payment" type="radio">
            Ship COD
        </div>
        <button class="set-good-for-customer">Đặt hàng</button>
    </div>
    <div class="infor-of-cart-of-customer">
        <div class="wrap-cart-and-number-of-cart">
            <h2 class="customer-infor-header-text customer-for-text-cart">Giỏ hàng</h2>
            <span class="number-of-item-in-cart">2</span>
        </div>
        <div class="list-item-in-cart">
            <div class="text-for-item-price">Corgi Lông Dài Trắng Vàng Đực C13173</div>
            <div class="price-for-the-pet-prepare-to-buy">2.500.000 vnđ</div>
        </div>
        <div class="list-item-in-cart">
            <div class="text-for-item-price">Corgi Lông Dài Trắng Vàng Đực C13173</div>
            <div class="price-for-the-pet-prepare-to-buy">2.500.000 vnđ</div>
        </div>
        <div class="all-for-money">
            <span class="all-for-money-text">Tổng thành tiền</span>
            <span class="all-for-money-item">5.000.000 vnđ</span>
        </div>
        <div class="code-for-discount">
            <input class="discount-for-buy" type="text" placeholder="mã khuyến mãi">
            <button class="confirm-for-discount-code">Xác nhận</button>
        </div>
    </div>
</div>
</div>
