<div class="admin-page">
    <div class="header-admin-maganger">
        <img class="administartor-header-icon" src="https://static.thenounproject.com/png/1880548-200.png" alt="">
        <span class="administrator-text">Quản Trị Viên</span>
    </div>
    
    <div class="content-admin-manager-wrap">
        <div class="header-conainer-admin">
            <div class="admin-page-wrap-item">
                <a href="#" class="document-for-type-admin-select manage-good-feature">
                    <i class="icon-item-admin-manager fa-solid fa-bars"></i>
                    <div class="overal-admin-manager">Danh Mục</div>
                </a>
                <a href="/account/admin/page" class="manage-good-feature">
                    <i class="icon-item-admin-manager fa-solid fa-border-all"></i>
                    <div class=" overal-admin-manager">Tổng Quan</div>
                </a>
                <a href="/account/admin/manage/members" class="manage-good-feature orange-active-admin-page ">
                    <i class="icon-item-admin-manager fa-solid fa-users"></i>
                    <div class="members-admin-manager">Quản Lý Thành Viên</div>
                    </a>
                <a href="/account/admin/manage/pets" class="manage-good-feature">
                    <i class="icon-item-admin-manager fa-solid fa-dog"></i>
                    <div class="pets-admin-manager">Quản Lý Thú Cưng</div>
                </a>
                <a href="#" class="manage-good-feature">
                    <i class="icon-item-admin-manager fa-solid fa-bullhorn"></i>
                    <div class="promotion-admin-manager">Quản Lý Khuyến Mãi</div>
                </a>
                <a href="#" class="manage-good-feature">
                    <i class="icon-item-admin-manager fa-solid fa-newspaper"></i>
                    <div class="news-admin-manager"> Quản Lý Tin Tức</div>
                </a>
            </div>
            <div class="drop-dow-icon-login">
                <div class="login-wrap-header-login-admin">
                    <div class="overal-admin-content-page">
                        <span class="overall-text-content-admin-page">Danh Sách Thành Viên</span>
                            {{!-- <h2 class="overal-admin-text-content-page">Tổng Quan</h2> --}}
                    </div>
                    <div class="overal-admin-content-icon">
                        <i class="header-bar-side-icon-admin fa-regular fa-envelope"></i>
                        <i class="header-bar-side-icon-admin fa-regular fa-bell"></i>
                        <img class="avatar-presentation-admin-image" src="https://i.scdn.co/image/ab6761610000e5ebce202eea14763b8b7696936e" alt="">
                        <span class="name-of-admin-text">Quang Đại</span>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                </div>
                <div class="margin-all-content-tag-select-admin-command">
                    <div class="navbar-header-content-tags-selection">
                        <div class="provide-member-card-for-user">
                            <div class="edit-text-content-for-member-card members-have-provided-member-card">Đã Cấp Thẻ</div>
                            <div class="edit-text-content-for-member-card members-have-not-provided-member-card-yet">Chưa Cấp Thẻ (40)</div>
                        </div>
                        <div class="more-infor-provide-card-user">
                            <div class="edit-text-content-for-member-card conduct-change-for-user">
                                <i class="fa-solid fa-arrow-right-arrow-left"></i>
                                Thực Hiện Chuyển Đổi
                            </div>
                            <div class="edit-text-content-for-member-card update-first-term-mark">
                                <i class="fa-solid fa-right-from-bracket"></i>
                                Nhập Khẩu Điểm Đầu Kỳ
                            </div>
                        </div>
                    </div>
                    <div class="action-for-tag-member-manage-admin">
                        <div class="action-to-card-content-for-admin">
                            <i class="icon-describe-action-admin-conduct fa-solid fa-calendar-plus"></i>
                            Đổi Thẻ
                        </div>
                        <div class="action-to-card-content-for-admin">
                            <i class="icon-describe-action-admin-conduct fa-solid fa-plus"></i>
                            Cộng Điểm
                            </div>
                        <div class="action-to-card-content-for-admin">
                            <i class="icon-describe-action-admin-conduct fa-solid fa-minus"></i>
                            Trừ Điểm
                        </div>
                        <div class="action-to-card-content-for-admin">
                            <i class="icon-describe-action-admin-conduct fa-solid fa-cloud-arrow-up"></i>
                            Xuất Khẩu
                        </div>
                    </div>
                    <div class="members-commands-for-tag-admin-page">
                        <div class="overflow-container-contain-admin-command">
                            <div class="action-command-list-members color-action-list-menu-admin-select">STT</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select">Tên Thành Viên</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select">Mã Thành Viên</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select">Số Điện Thoại</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select">Thẻ</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select">Ngày Cấp / Đổi Thẻ</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select">Điểm Tích Lũy Trong Kỳ</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select">Điểm Cuối Kỳ</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select">Tổng Cộng</div>
                        </div>
                        <div class="overflow-container-contain-admin-command">
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">1</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">Quang Vinh</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">8011333055</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">0499532438</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">Vàng</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">22/11/2020</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">66.5</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">165.5</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">232.0</div>
                        </div>
                        <div class="overflow-container-contain-admin-command">
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">2</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">Thỏ Con</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">8011333033</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">0933554245</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">Thành Viên</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">5/5/2023</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">15.4</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">30.5</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">45.9</div>
                        </div>
                        <div class="overflow-container-contain-admin-command">
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">3</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">Xuân Quỳnh</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">8011333444</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">0733554443</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">Vip</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">11/12/2018</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">366</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">210</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">576</div>
                        </div>
                        <div class="overflow-container-contain-admin-command">
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">4</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">Hồng Phúc</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">8011333335</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">0366477264</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">Đồng</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">11/03/2022</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">24.6</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">44.2</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">68.8</div>
                        </div>
                        <div class="overflow-container-contain-admin-command">
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">5</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">Duy *Anh*</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">8011333324</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">0433565421</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">Bạc</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">03/06/2022</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">72.8</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">65</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">137.8</div>
                        </div>
                        <div class="overflow-container-contain-admin-command">
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">6</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">Quang Vinh</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">8011333055</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">0499532438</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">Vàng</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">22/11/2020</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">66.5</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">165.5</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">232.0</div>
                        </div>
                        <div class="overflow-container-contain-admin-command">
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">7</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">Trường Trần</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">8011333055</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">0499532438</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">Vàng</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">22/11/2020</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">66.5</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">165.5</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">232.0</div>
                        </div>
                        <div class="overflow-container-contain-admin-command">
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">8</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">Phước Long</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">8011333055</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">0499532438</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">Vàng</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">22/11/2020</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">66.5</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">165.5</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">232.0</div>
                        </div>
                        <div class="overflow-container-contain-admin-command">
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">9</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">Huy Nobita</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">8011333055</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">0499532438</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">Vàng</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">22/11/2020</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">66.5</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">165.5</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">232.0</div>
                        </div>
                        <div class="overflow-container-contain-admin-command">
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">10</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">Quế Trang</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">8011333055</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">0499532438</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">Vàng</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">22/11/2020</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">66.5</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">165.5</div>
                            <div class="action-command-list-members color-action-list-menu-admin-select-white">232.0</div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div> 