<div class="mt-4">
    <form method="POST" action="">
  <div class="form-groupq">
    <label for="search-input">Từ Khóa</label>
    {{!-- <input type="text" name="full-name">
    <input type="text" name="age"> --}}
    <input type="text" name="q" class="form-control" id="exampleInputEmail1" placeholder="Nhập Từ Khóa...">
  </div>
  <div class="form-groupq">
    <label for="search-input">Từ Khóa</label>
    <select name="gender" class="form-control" id="exampleInputEmail1">
        <option value="">-- Chọn giới tính --</option>
        <option value="male">Nam</option>
        <option value="female">Nữ</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Tìm Kiếm</button>
</form>
</div>